body {
    background-color: black;
    background-repeat: no-repeat;
    
}
h1 {
    color: white;
    font-family: 'Arimo', sans-serif;
    clear:left;
}

h3 {
    color: white;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 40px;
    clear:right;

}

p {
    color: white;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 30px;
    float: center;

}

form {
    color: white;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    border: 1px solid #ffffff;
    border-width: 1em;
}
li a {
    color: white;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    padding: 14px 16px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: right;
}