body {
    background-color: black;
    background-repeat: no-repeat;
    background-position-x: 400px;
    background-position-y: 100px;
    
}

h1 {
    color: white;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 40px;

}

p {
    color: white;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 30px;
}

form {
    color: white;
    font-family: 'Arimo', sans-serif;
    text-align: center;
}